.session*
.elpa/
elpa
projectile-bookmarks*
.python-enviroments
magithub
eln-cache
.emacs.d
.cache
emojis
games/


semanticdb/
auto-save-list/
strokes
.dap-breakpoints
.lsp-session-*
.mc-lists.el

**/.yas-compiled-snippets*
projectile.cache
request/
.emacs.desktop
elpy/
initdebug2.el
logview-cache.extmap